<footer class="footer">
  <%= link_to root_path do %>
  <span id="home"><i class="fa fa-home fa-2x"></i></span>
  <% end %>
  <%= link_to search_path do %>
  <span id="search"><i class="fa fa-search fa-2x"></i></span>
  <% end %>
  <%= link_to "#" do %>
  <div class="upload-container">
    <span id="upload"><i class="fa fa-plus fa-2x"></i></span>
  </div>
  <% end %>
  <%= link_to "#" do %>
  <span id="chats"><i class="fa fa-comments fa-2x"></i></span>
  <% end %>
  <%= link_to "#" do %>
  <span id="user"><i class="fa fa-user fa-2x"></i></span>
  <% end %>
</footer>
