<div id="chat">
  <div id="offer">

    <div class="row">
      <div class="col-12 top-bar">
        <%= link_to image_tag(@products.last.images.first, width: "40px", height: "40px", class:"float-left profile-thumb rounded-circle mr-3")%>
        <span> <%= @user.first_name%></span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <div id="new-chat">
          <p>You started an offer with <span> <%= @product.user.first_name %> </span> </p>
          <%= link_to image_tag(@product.images.first, width: "100px", height: "100px", class:"rounded-circle")%>
          <P>Send a message</p>
          </div>
          <div id="chat_messages">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-5 bottom-bar">
          <%= render partial: "offers/new_chat" %>
        </div>
      </div>

    </div>
  </div>
